<div class="container centered">
 <%= simple_form_for(@user_task, remote: true) do |f| %>
   <%= f.error_notification %>

   <div class="form-inputs">
     <%= f.input :description, placeholder: 'Type what you gotta do here!' %>
     <%= f.input :due, as: :string, placeholder: 'Today, Junior' %>
   </div>

   <div class="form-actions">
     <%= f.button :submit, class: 'btn btn-info btn-sm' %>
     <button class="minimize btn btn-sm btn-warning">Nevermind</button>
   </div>
 <% end %>
 <br>
 <br>
</div>